/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

/* Utilities */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

/* Header Section  Start */
header{
    height: 677px;
    background-color: #2D25A0;
    width: 100%;

}
.top-header{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
}

.top-heading{
    font-size: 64px;
    line-height: 80px;
    padding-left: 100px;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.button{
    background-color: #E02C6D;
    color: #FFFFFF;
    margin-left: 100px;
    margin-top: 0%;
    padding: 10px;
    text-decoration: none;
    
}

.button:hover{
    background-color: steelblue;
}
.top-header img{
    width: 556px;
    height: 438px;
    padding-top: 150px;
    padding-left: 120px;
    padding-right: 100px;
    padding-bottom: 114px;
}

/* Header Section End  */


/* Player Section Start  */

.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    padding-left: 180px;
    padding-right: 180px;
    padding-top: 70px;

}
.player{
    margin: 16px;
    padding: 15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    
}

.player h3{
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 40px;
}

.player p{
    font-weight: normal;
    color: rgb(99, 99, 99);
}

.player img{
    width: 300px;
    height: 256px;
    overflow: hidden;
    
}



/* Player Section End  */

/* Highlights Section Start  */

.match{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-left: 150px;
    margin-bottom: 100px;
}

.match img{
    width: 567px;
    height: 427px;
    padding-right: 100px;

}

.match-heading{
    font-size: 48px;
    line-height: 80px;
    padding-right: 60px;
    
}
.heading-description{
    text-align: left;
    padding-right: 50px;
}

.button-2{
    text-decoration: none;
    background-color: #E02C6D;
    padding: 10px;
    color: white;
}


/* Highlights Section End  */

/* Messi Section Start  */

.about-messi{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    margin-bottom: 100px;
    
}


.messi img{
    width: 567px;
    height: 427px;
    margin-left: 100px;
    margin-right: 100px;
    box-shadow: 0px 0px 20px 0px rgb(199, 195, 195);
    border-radius: 0px 100px 0px 0px ;
}

.best-player{
    margin-right: 100px;
}

.best-player h1{
    font-size: 48px;
    line-height: 60px;
}

.best-player p{
    color: rgb(61, 91, 116);
    font-weight: 400px;
}

/* Messi Section End  */


/* Gallary Section Start  */


.gallary-title{
    margin-left: 100px;
    font-size: 1.5em;
    margin-top: 50px;
    margin-bottom: 1px;
}
.gallary-title p{
    color: rgb(92, 92, 92);
    padding-top: 0px;
}



.gallary{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;

}


.gallary-images{
    width: 250px;
    height: 200px;
    margin: 15px;
    position: relative;

}

.image img{
    width: 100%;
    

}

.player-name{
    color: rgb(255, 103, 2);
    display: none;
    position: absolute;
    top: 0%;
    text-align: center;
}


.gallary-images:hover .player-name{
    display: block;
    text-align: center;
    margin-top: 70px;
    margin-left: 50px;

}
/* Gallary Section End  */


/* Footer Section Start  */

footer{
    text-align: center;
}

footer img{
    width: 483px;
    height: 110px;
}

.social-icon a{
   background-color: lightgray;
   text-decoration: none;
   color: black;
   padding: 5px;
   border-radius: 50px;
   margin: 5px;
}

hr{
    margin-left: 180px;
    margin-right: 180px;
}





/* Media Quaryes */

/* Mobile Device */

@media only screen and (max-width: 688px){


    .top-header{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        align-items: center;
    }

    .top-heading{
        font-size: 36px;
        text-align: center;
        padding: 20px;
        line-height: 60px;
        margin: 50px;
    }

    .top-header .button{
        text-align: center;
        margin-right: 70px;
    }


    .top-header img{
        width: 300px;
        height: 250px;
        margin-top: 0%;
        padding-top: 100px;
    }




    .players{
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        align-items: center;

}
    .container{
        width: 100%;
    }

    .match{
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        align-items: center;
        margin-bottom: 100px;
        margin-left: 100px;
    }

    .match-heading{
        text-align: center;
        font-size: 24px;
        line-height: 30px;
        margin-left: 50px;
        padding-right: 150px;
  
    }
    .heading-description{
        text-align: center;
        line-height: 10px;
        font-size: 14px;
        line-height: 30px;
        padding-right: 100px;
        
  
    }

    .button-2{
        margin-right: 120px;
    }


    .match img{
        width: 250px;
        height: 300px;
        margin-top: 20px;


    }

    .best-player{
        align-items: center;
    }
    .best-player h1{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        font-size: 24px;
        line-height: 40px;
        margin-left: 50px;
  
    }

    .about-messi{
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        align-items: center;
        margin-top: 150px;
        margin-bottom: 100px;
        padding-left: 50px;
      
}
    .best-player p{
        margin-left: 50px;
        text-align: justify;
    }
    .best-player, span{
        text-align: center;
        font-size: 14px;
    }

    .messi img{
        width: 250px;
        height: 300px;
        margin-top: 20px;
        margin-left: 50px;

    }

    .gallary-title{
        margin-left: 20px;
        text-align: center;
    }



    footer img{
        width: 200px;
        height: 50px;
    }

    .social-icon, {
        text-align: center;
    }

    footer p{
        text-align: center;
    }
}

