/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

/* Utilities */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

/* Header Section  Start */
header{
    height: 677px;
    background-color: #2D25A0;
    width: 100%;

}
.top-header{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
}

.top-heading{
    font-size: 64px;
    line-height: 80px;
    padding-left: 100px;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.button{
    background-color: #E02C6D;
    color: #FFFFFF;
    margin-left: 100px;
    margin-top: 0%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
    
}
.top-header img{
    width: 556px;
    height: 438px;
    padding-top: 150px;
    padding-left: 120px;
    padding-right: 100px;
    padding-bottom: 114px;
}

/* Header Section End  */


/* Player Section Start  */

.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    padding-left: 180px;
    padding-right: 180px;
    padding-top: 70px;

    

}
.player{
    margin: 16px;
    padding: 15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

.player p{
    font-weight: 400px;
    color: rgb(99, 99, 99);
}

.player img{
    width: 300px;
    height: 256px;
    
}

/* Player Section End  */

/* Footer Section Start  */

footer{
    text-align: center;
}

footer img{
    width: 483px;
    height: 110px;
}

.social-icon a{
   background-color: lightgray;
   text-decoration: none;
   color: black;
   padding: 5px;
   border-radius: 50px;
   margin: 5px;
}

hr{
    margin-left: 180px;
    margin-right: 180px;
}